@import helper._
@import play.data._

@(studentForm: Form[Student])

@main("Student form") {
<h1>Student form</h1>
@helper.form(action=routes.Students.save(), 'enctype -> "multipart/form-data") {
    @helper.CSRF.formField
<fieldset>
    <legend>Student ( @studentForm("name").getValue().orElse("Nowy student") )</legend>
    <input type="hidden" value="@studentForm("id").getValue().orElse("")" name="id" />
    @inputText(studentForm("studId"), '_label -> "Student ID")
    @inputText(studentForm("name"),'_label -> "Name")
    @inputText(studentForm("birthDate"), '_label -> "Date of birth")
    @inputFile(studentForm("picture"))
</fieldset>
<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>Save</button>
<a class="btn btn-primary" href="@routes.Students.list()"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
}
}